* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.closebtn{
  border: none;
  outline: none;
  background: none;
}
.itemDelete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  gap: 16px;

  /* width: 329px;
  height: 35px; */

  /* Neutral/Shades/Border Stock */

  border: 1px solid #e7e6e8;
  border-radius: 47px;
  margin-right: 0.5rem;
}
.itemDeleteCont {
  display: flex;
  border: 1px solid;
  border-radius: 6px;
  flex-wrap: wrap;
  width: 46rem;
  margin-bottom: 1rem;
}

.parentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.optionValue {
  margin-top: 2rem;
  background-color: aqua;
}

.selctcont {
  width: 100%;
  height: 3.2rem;
  border-radius: 10px;
  padding-left: 10px;
  background: #ffffff;
  font-size: 0.9rem;
  line-height: 114.9%;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
  font-size: 19px;
  padding-left: 22px;
  margin-top: 0.5rem;
}
.selctcont > option > {
  padding-left: 10px;
  background-color: #7000ff;
}
.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ContactUs {
  font-size: 1rem;
  color: #717171;
  font-weight: 600;
  letter-spacing: 1px;
}
.question {
  width: 616px;
  height: 110px;
  font-weight: 700;
  font-size: 3rem;
  line-height: 114.9%;
  text-align: center;
  letter-spacing: 0.02em;
}
.help {
  color: #7000ff;
}
.formContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 6.25rem;
  height: 10rem;
  gap: 20px;
  z-index: 1;
  background-color: #fff;
}
.flexCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.labelTxt {
  font-size: 14px;
  color: #343434;
  font-weight: 500;
}
.websiteCont {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.webTxt {
  font-size: 14px;
  color: #343434;
  font-weight: 500;
  text-align: left !important;
}
.labelCont {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 30px;
  width: 365px;
  height: 55px;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
  margin-top: 0.5rem;
}
.input > input {
  border: none;
  outline: none;
  font-size: 20px;
}
.input1 > input {
  font-size: 20px;
  width: 100%;
}

.inputWebsite {
  width: 80%;
  height: 55px;
  border-radius: 10px;
  border: none;
}
.typeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.type {
  font-size: 14px;
  color: #343434;
  font-weight: 500;
}
.mention {
  font-size: 14px;
  color: #343434;
  font-weight: 500;
  padding-top: 10px;
}
.typeCon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: none;
  outline: none;
}
.radioCont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
  height: 70px;
}

.supportRadio {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 55px;
  padding-left: 40px;
}
.supportRadio > input {
  border: none;
  outline: none;
  font-size: 20px;
}
.lebalTxt {
  font-size: 16px;
  font-weight: 500;
}
.gridCont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  z-index: 1;
  background-color: #fff;
  text-align: left;
}
.websiteLink {
  width: 96%;
  height: 55px;
  border: 1px solid #c2c2c2;
  border-radius: 12px;
  padding-left: 30px;
  font-size: 15px;
}
.typeCont {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 1rem;
}
.inputWithradio {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}
.radioInputContainer {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.MentionyourInput {
  height: 193px;
  width: 100%;
  border-radius: 10px;
}
.submitBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 52px;
}
.submitBtn > button {
  width: 126px;
  height: 53px;
  border-radius: 30px;
  background-color: #7000ff;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.line {
  margin-top: 3rem;
  width: 100%;
  height: 0px;
  border: 1px solid rgb(221, 210, 210);
}
.line2 {
  margin-top: 4.5rem;
  width: 80%;
  border: 1px solid rgb(221, 210, 210);
}
.sectionTwo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  margin-top: 3.6rem;
}
.forBusiness {
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Businesstxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 600;
  color: #000000;
}
.email {
  font-size: 18px;
  color: #5d5d5d;
}
.officeAddressContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 40%;
  height: 200px;
  margin-top: 7rem;
  margin-bottom: 8rem;
  text-align: left;
  margin-right: 15rem;
}
.officeAddressText {
  font-size: 16px;
  color: #717171;
  font-weight: 500;
}
.officeAddressCont {
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 500;
  color: #050505;
}
.officeAddress {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.officeAddressName {
  width: 18rem;
}
.text {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  padding: 15px;
  resize: none;
}
.mapCont {
  position: absolute;
  top: 100px;
  right: 1px;
  z-index: -1;
}
.MentionyourContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* width: 96%; */
}
.MentionyourContainer > div {
  margin-top: 0.5rem;
}
/* media query */
@media only screen and (max-width: 480px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .heading {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    margin-bottom: 2rem;
  }
  .question {
    text-align: left;
    width: 100%;
    /* margin-bottom:2rem; */
    font-size: 2rem;
  }
  .type {
    padding-right: 15rem;
  }
  .MentionyourInput {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .collabrateText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5rem;
    width: 100%;
    height: 78px;
    /* border: 1px solid; */
  }

  .flexCont {
    display: flex;
    flex-direction: column;
  }
  .labelCont {
    width: 100%;
  }
  .mapCont {
    display: none;
  }
  .section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .line {
    margin-top: -2rem;
    margin-bottom: 1rem;
    width: 80%;
    height: 0px;
    border: 1px solid rgb(221, 210, 210);
  }
  .ContactUs {
    font-size: 1rem;
    color: #717171;
    font-weight: 600;

    /* padding-right: 100px; */
  }

  .text {
    height: 40%;
    width: 100%;
  }
  .gridCont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .websiteCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 0.3rem;
    /* border: 1px solid; */
  }

  .input {
    /* background-color: aqua; */
    width: 100%;
    overflow: hidden;
    /* background-color: aqua; */
  }
  .input1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .input1 > input {
    width: 100%;
    /* background-color: aqua; */
    margin-right: 0.5rem;
    margin-top: 0.5rem;
  }
  .input > input {
    width: 80%;
    /* background-color: aqua; */
  }

  .inputWithradio {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    align-items: flex-start;
  }

  .radioInputContainer {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }

  .websiteText {
    margin-left: 1rem;
    font-size: 14px;
    color: #343434;
  }
  .mention {
    font-size: 14px;
    color: #343434;
    font-weight: 500;
    /* background-color: aqua; */
  }
  .MentionyourInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* margin-left: 3.75rem; */
  }
  .MentionyourContainer {
    width: 100%;
  }
  .sectionTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    margin: auto;
    margin-top: -5rem;
  }
  .forBusiness {
    /* border: 1px solid black; */
    margin-top: 80px;
  }
  .submitBtn {
    margin-top: -3rem;
    margin-bottom: 5rem;
  }
  .officeAddressContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 10rem;
  }
  .officeAddressContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 10rem;
  }
  .officeAddress {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .officeAddressName {
    text-align: left;
  }
  .collabrateTextColor {
    display: inline;
  }
  .cin {
    text-align: left;
  }
}

@media only screen and(max-width:850px) {
  .section1 {
    width: 50%;
    background-color: #7000ff;
  }
}

@media only screen and (max-width: 930px) {
}
@media only screen and (max-width: 930px) {
}
